body {
    background-image: url(flower.png);
}
div {
    background-color: rgb(230, 247, 139);
    height: 260px;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

   header img {
       display: inline-block;
       font-size: 100%;
   } 

header nav a {
    text-decoration: none;
    color: black;
    margin-right: 120px;
    font-size: 20px;
    text-decoration: double
    
}
header nav a:hover {
text-decoration:underline; 
color: blue;
}
main {
    display:flex;
    justify-content: center;
    align-items: column;
    padding: 0 20px 20px 20px;


}
main section:first-child {
flex: 2;

}
main section:last-child {
    flex: 3;
   

}
section.right {
    
    text-align: right;
}
main section:last-child img {
    width: 30%;
    float: left;
    padding: 10px;
}
p {
    text-align: justify;
    padding: 0 20px;
}